OBSERVABILITY_HOST=observability-academia-utn.eastus2.cloudapp.azure.com
OBSERVABILITY_SCHEME=https
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
VITE_PROMETHEUS_BASE_URL=/api/prometheus
VITE_GRAFANA_URL=/grafana/
VITE_PROMETHEUS_URL=/api/prometheus/query?query=up
